*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to left, #2196f3, #3D5AFE, #0D47A1);
}

#titulo{
    height: 80px;
    text-align: center;
}
h2{
    height: 100%;
    text-align: center;
}

main{
    width: 80%;
    height: 100%;
    padding: 100px 100px 100px 100px;
}

fieldset{
    padding: 30px;
    width: 100%;
    margin: auto;
    height: 200px;
    margin: 90px;    
}

#formulario{
    width: 100%;
    height: auto;
}